extends ../shared/template
block content
  .row
    .col-xs-7
      .row
        .col-xs-12
          h2= goal.name
      .row
        .col-xs-12
          h2 Task List
          table.table.table-striped.table-hover.table-bordered
            thead
              tr
                th Name
                th Description
                th Difficulty
                th Rank
                th Complete?
            tbody
              each task in goal.tasks
                tr
                  td= task.name
                  td= task.description
                  td= task.difficulty
                  td= task.rank
                  td= task.isComplete
    .col-xs-5
      h2= goal.name
    .col-xs-6
      form(role='form', method='post', action='/goals/#{goal._id}/tasks')
        .form-group
          label(for='Name') Name
          input.form-control#name(type='text', name='name', autofocus=true)
        .form-group
          label(for='description') Description
          input.form-control#description(type='text', name='description')
        .form-group
          label(for='difficulty') difficulty
          select.form-control#difficulty(name='difficulty')
            option Easy
            option Medium
            option Hard
        .form-group
          label(for='rank') Rank
          input.form-control#rank(type= 'number' name= 'rank')
        button.btn.btn-success(type='submit') Add 

